Django>=4.2,<5.0
Pillow>=10.0
openpyxl
djangorestframework
xhtml2pdf
fpdf
caldav 
google-api-python-client 
google-auth-oauthlib 
google-auth-httplib2 
radicale
icalendar
django-debug-toolbar
whitenoise
gunicorn
python-dotenv
passlib